Covert a iteger to a floatig-poit umber.

In [4]:
x =  25
y =  float(x)
print(type(x))
print(type(y))

<class 'int'>
<class 'float'>

$ Covert a float to a iteger.

In [6]:
x = 2.5
y = int(x)
print(type(x))
print(type(y))

<class 'float'>
<class 'int'>

In [7]:
#2 Covert a iteger to a string

x = 25
y = str(x)
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

C Covert a li%t to a tuple.

In [8]:
def convert(list):
    return tuple(list)


list = [1, 2, 3, 4]
print(convert(list))

(1, 2, 3, 4)

I Covert a tuple to a li%t.

In [ ]:
# Define a tuple
Gtuple = (1, 2, 3)

# Convert the tuple to a list
lis = list(Gtuple)
print(lis)

Covert a decimal umber to biary.

In [15]:
def DecimalToBinary(num):

	if num >= 1:
		DecimalToBinary(num // 2)
	print(num % 2, end = '')

# Driver Code
if __name__ == '__main__':

	# decimal value
	dec_val = 24

	# Calling function
	DecimalToBinary(dec_val)

011000

^ Covert a o-zero umber to boolea.

In [16]:
x = bool(1)
print(x)
y = bool()
print(y)

True
False